* {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root {
    --primeryFontColor: black;
    --primeryBackgroundColor: white;
    --primertBtnColor: rgb(206, 206, 206);
    --secondaryBackgroun: white;
    --correctColor: limegreen;
    --wrongColor: red;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("pics/hogwartsschool.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.darkmode{
    background-image: url("pics/hogwartsschool-dark.jpg");
    --primeryFontColor: white;
    --primeryBackgroundColor: black;
    --primertBtnColor: rgb(102, 102, 102);

}
#btn-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--primeryBackgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}
/* #btn-switch svg{
    fill: var(--secondaryBackgroundColor)
} */
#btn-switch svg:last-child{
    display: none;
}
.darkmode #btn-switch svg:first-child{
    display: none;
}
.darkmode #btn-switch svg:last-child{
    display: block;
}
.container{
    width: 400px;
    max-width: 80%;
    background-color: var(--primeryBackgroundColor);
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 0 10px 2px;
    color: var(--primeryFontColor);
    font-size: 1.5rem;
   
}

.btn-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    font-size: 1rem;
    background-color: var(--primertBtnColor); 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--primeryFontColor);
    outline: none;
}

.btn:hover {
    border-color: blue;
}

.btn.correct {
background-color: var(--correctColor);
}

.btn.wrong {
    background-color: var(--wrongColor);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;

}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
#result-container {
    text-align: center;
    padding: 20px;
    background-color: var(--primeryBackgroundColor);
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    color: var(--primeryFontColor);
};
